#container {
  user-select: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  overflow: visible;
  z-index: 0;
  max-height: 800px;
  &.seleccionado {
    ::before {
      content: "";
      position: absolute;
      height: 113%;
      width: calc(100% + 8px);
      top: -4px;
      left: 0px;
      background-color: #da4443;
      z-index: -2;
      border-radius: 5px;
    }
  }
}
#flecha {
  height: 20px;
  padding: 0 10px;
}
#tarjeta {
  display: flex;
  align-items: center;
  background-color: #fceab8;
  border-radius: 25px 5px 5px 25px;
  width: 90%;
  font-size: larger;
  padding-left: 10px;
  gap: 1rem;
  &.seleccionado{
    background-color: #f49545;
    -webkit-box-shadow: inset 0px 0px 7px 4px #fceab8;
    -moz-box-shadow: inset 0px 0px 7px 4px #fceab8;
    box-shadow: inset 0px 0px 7px 4px #fceab8;
  }
}

#circulo {
  border-radius: 50%;
  height: 40px;
  aspect-ratio: 1;
  background-color: rgba(0, 0, 0, 0.125);
}

img {
  max-height: 70px;
}

span {
  font-size: 30px;
}
